In [1]:

import pandas as pd

# carregar dados da planilha
caminho =  'C:/dados/base_inicial.xlsx'

df1 = pd.read_excel(caminho, sheet_name='Relatório de Vendas')
df2 = pd.read_excel(caminho, sheet_name='Relatório de Vendas1')

print('----- Primeiro Relatório -----')
print(df1.head())

----- Primeiro Relatório -----
   Posição           Cliente          Cidade Plano Vendido
0        1            Ejecta        Curitiba    Enterprise
1        4      Exact Realty  Rio de Janeiro    Enterprise
2        5  Express Merchant        Curitiba    Enterprise
3        6      Perisolution    Porto Alegre    Enterprise
4        7      Plan Smarter  Rio de Janeiro    Enterprise

In [2]:
print('----- Segundo Relatório -----')
print(df2.head())

----- Segundo Relatório -----
    7      Plan Smarter  Rio de Janeiro  Enterprise
0   8         Planetbiz  Rio de Janeiro  Enterprise
1   9          Powerbod        Curitiba  Enterprise
2  10  Prahject Planner    Porto Alegre  Enterprise
3  11   Pro-Care Garden  Rio de Janeiro  Enterprise
4  12     Pro Star Game  Rio de Janeiro  Enterprise

In [4]:
print('duplicatas no relatorio 1')
print(df1.duplicated().sum())
print('duplicatas no relatorio 2')
print(df2.duplicated().sum())

duplicatas no relatorio 1
0
duplicatas no relatorio 2
0

Agora vamos consolidar as duas tabelas

In [5]:
print('Dados consolidados')
df_consolidado = pd.concat([df1, df2], ignore_index=True)
print(df_consolidado.head())

Dados consolidados
   Posição           Cliente          Cidade Plano Vendido   7 Plan Smarter  \
0      1.0            Ejecta        Curitiba    Enterprise NaN          NaN
1      4.0      Exact Realty  Rio de Janeiro    Enterprise NaN          NaN
2      5.0  Express Merchant        Curitiba    Enterprise NaN          NaN
3      6.0      Perisolution    Porto Alegre    Enterprise NaN          NaN
4      7.0      Plan Smarter  Rio de Janeiro    Enterprise NaN          NaN

  Rio de Janeiro Enterprise
0            NaN        NaN
1            NaN        NaN
2            NaN        NaN
3            NaN        NaN
4            NaN        NaN

In [6]:
clientes_por_cidade = df_consolidado.groupby('Cidade')['Cliente'].nunique().sort_values(ascending=False)
print('Clientes por cidade:')
print(clientes_por_cidade)

Clientes por cidade:
Cidade
São Paulo         61
Rio de Janeiro    48
Porto Alegre      47
Belo Horizonte    25
Curitiba          25
Salvador          25
Florianópolis     12
Name: Cliente, dtype: int64

Número de vendas por plano

In [8]:
vendas_por_plano = df_consolidado['Plano Vendido'].value_counts()
print('Número de Vendas por Plano')
print(vendas_por_plano)

Número de Vendas por Plano
Plano Vendido
Basic         82
Regular       66
Pro           48
Premium       32
Enterprise    15
Name: count, dtype: int64

Exibir as 3 primeiras cidades com mais clientes

In [10]:
top_3_cidades = clientes_por_cidade.head(3)
print(top_3_cidades)

Cidade
São Paulo         61
Rio de Janeiro    48
Porto Alegre      47
Name: Cliente, dtype: int64

In [11]:
#Exibir o total de clientes 
total_clientes = df_consolidado['Cliente'].nunique()
print(f'\n número total de clientes: {total_clientes}')

 número total de clientes: 243

In [13]:
#Adicionar uma coluna de Status (exemplo ficticio de analise)
#Vamos classificar os planos como premium se for entreprise, caso contrario será padrão
df_consolidado['Status'] = df_consolidado['Plano Vendido'].apply( lambda x: 'Premium' if x == 'Entreprise' else 'Padrão') 
      
status_dist = df_consolidado['Status'].value_counts()
print(status_dist)

Status
Padrão    481
Name: count, dtype: int64

In [17]:
#Salvar a tabela em um arquivo
#Primeiro em Excel
df_consolidado.to_excel('dados_consolidados_planilha.xlsx', index=False)
#Depois em CSV
df_consolidado.to_csv('dados_consolidados_text.csv', index=False)

In [18]:
#Exibir mensagem Final
print('\n Arquivos Gerados com sucesso!')

 Arquivos Gerados com sucesso!